<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- material icons cdn -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
  <link rel="stylesheet" href="/css/editcustdash.css">
  <link rel="stylesheet" href="/css/displayproducts.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Products</title>
</head>

<body>
  <div class="container">
    <%- include('../partials/dashboardsidebar', { currentPage: 'displayproducts' }) %>

      <main class="table">
        <section class="table_header">
          <h1>Products List</h1>
          <div class="search_orders">
            <input type="search" placeholder="Search existing products...">
          </div>
          <div class="add_product">
            <a href="/addproducts">
              <button class="btn add-product"><i class="fa fa-plus"></i> Add Product</button>
            </a>
          </div>
        </section>
        <section class="table_body">
          <table>
            <thead>
              <tr>
                <th>Product ID</th>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Model</th>
                <th>Edit/Delete</th>
                <th>Availability</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(product=> { %>
                <tr>
                  <td>
                    <%= product.id %>
                  </td>
                  <td><img src="/Images/<%- product.image %>" alt="" id="prod_img"></td>
                  <td>
                    <%= product.name %>
                  </td>
                  <td>
                    <%= product.material %>
                  </td>
                  <td>
                    <a href="/editproducts/<%= product.id %>">
                      <button class="btn edit-product"><i class="fa fa-edit"></i></button>
                    </a>
                    <form method="POST" action="/editcustdash/<%= product._id %>?_method=DELETE"
                      onsubmit="event.preventDefault(); showPopup();">
                      <!-- a hidden input field is added to store the customer ID -->
                      <input type="hidden" name="customerId" value="<%= product._id %>">
                      <button class="btn delete-customer" type="submit"><i class="fa fa-trash"></i></button>
                    </form>

                    <div class="popup-container" id="popup-container">
                      <div class="popup-box">
                        <div class="popup-message">Are you sure you want to delete this
                          product?</div>
                        <div class="popup-buttons">
                          <button class="cancel" onclick="hidePopup()">Cancel</button>
                          <button class="confirm" onclick="deleteCustomer()">Delete</button>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <% if (product.countInStock) { %>
                      <p class="status_instock">In Stock</p>
                      <p class="avail_amount">*Available: <%= product.countInStock %> Pieces</p>
                      <% } else { %>
                        <p class="status_outofstock">Out Of Stock</p>
                        <p class="avail_amount">*Available: 0 Pieces</p>
                        <% } %>
                  </td>
                  <td><strong>
                      <%= product.price %> EGP
                    </strong></td>
                </tr>
                <% }) %>
            </tbody>
          </table>

        </section>
      </main>


  </div>

  <script src="/js/editcustdash.js"></script>
  <script src="/js/dashsearch.js"></script>
</body>

</html>