<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- material icons cdn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="/css/editcustdash.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Admin Dashboard</title>
</head>




<body>


    <div class="container">

        <!-- sidebar start -->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="./Images/logoo copy.png" alt="logo">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="./dashborad"><span class="material-symbols-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="editcustdash" class="active"><span class="material-symbols-sharp">person</span>
                    <h3>Customers</h3>
                </a>
                <a href="orders"><span class="material-symbols-sharp">receipt_long</span>
                    <h3>Orders</h3>
                </a>
                <a href=""><span class="material-symbols-sharp">insights</span>
                    <h3>Analytics</h3>
                </a>
                <a href=""><span class="material-symbols-sharp">chat</span>
                    <h3>Chat</h3><span class="message-count">3</span>
                </a>
                <a href="editproducts"><span class="material-symbols-sharp">inventory</span>
                    <h3>Products</h3>
                </a>
                <a href=""><span class="material-symbols-sharp">report</span>
                    <h3>Reports</h3>
                </a>
                <a href=""><span class="material-symbols-sharp">Settings</span>
                    <h3>Settings</h3>
                </a>

                <a href=""><span class="material-symbols-sharp">logout</span>
                    <h3>Logout</h3>
                </a>

            </div>
        </aside>
        <!-- sidebar end -->




        <main>
            <h1>Customers</h1>
            <div id="customers-container">
                <div class="addcust" id="addcust">
                    <form action="/editcustdash" method="post" class="signInform" onsubmit="return checkinputs()">
                        <div class="add">
                            <h2 class="add-title">Add A Customer</h2>
                        </div>
                        <div class="customers-container" style="display: block;">

                            <div class="input-group">
                                <label for="firstname">First Name</label>
                                <div><input id="firstname" type="text" placeholder="First Name" name="firstname">
                                </div>
                                <span id="firstnamelabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="lastname">Last Name</label>
                                <div><input id="lastname" type="text" placeholder="Customer's Last Name"
                                        name="lastname">
                                </div>
                                <span id="lastnamelabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="email">Email</label>
                                <div><input id="email" type="email" placeholder="Customer's Email" name="email">
                                </div>
                                <span id="emaillabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="pass">Password</label>
                                <div> <input id="pass" type="password" placeholder="Customer's Password" name="pass">
                                </div>
                                <span id="passlabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="pass">Confirm password</label>
                                <div> <input id="confirmpass" type="password" placeholder="Customer's Password"
                                        name="confirmpass">
                                </div>
                                <span id="confirmpasslabel"></span>
                            </div>

                            <div class="input-group">
                                <label for="phone">Phone</label>
                                <div><input id="phone" type="text" placeholder="Customer's Phone Number" name="phone">
                                </div>
                                <span id="phonelabel"></span>
                            </div>
                            <input type="submit" value="Add" id="add">


                        </div>
                    </form>
                    <script src="js/validation.js"></script>
                </div>

                <div>

                    <main class="table">
                        <section class="table_header">
                            <h1><%= viewTitle %></h1>
                            <div class="search_orders">
                                <input type="search" placeholder="Search existing customers...">
                            </div>
                        </section>
                        <section class="table_body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Customer ID <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>First Name <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Last Name <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Email <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Phone <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Edit <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Delete <span class="icon-arrow">&UpArrow;</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach(function(user) { %>
                                    <tr>
                                        <td><%= user._id %></td>
                                        <td><%= user.firstname %></td>
                                        <td><%= user.lastname %></td>
                                        <td><%= user.email %></td>
                                        <td><%= user.phone %></td>
                                        <td>
                                            <a href="/editcustdash/<%= user._id %>">
                                                <button class="btn edit-customer"><i class="fa fa-edit"></i></button>
                                            </a>
                                        </td>
                                        <td>
                                            <form method="POST" action="/editcustdash/<%= user._id %>?_method=DELETE"
                                                onsubmit="return confirm('Are you sure you want to delete this customer?');">
                                                <!-- a hidden input field is added to store the customer ID -->
                                                <input type="hidden" name="customerId" value="<%= user._id %>">
                                                <button class="btn delete-customer" type="submit"><i
                                                        class="fa fa-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </section>
                    </main>
                </div>






                <script src="/js/editcustdash.js"></script>
                <script src="/js/dashsearch.js"></script>
                <script src="/js/validation.js"></script>

</body>

</html>