<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- material icons cdn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="/css/editcustdash.css">
    <link rel="stylesheet" href="/css/displayproducts.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Admin Dashboard</title>
</head>




<body>


    <div class="container">



        <%- include('../partials/dashboardsidebar', { currentPage: 'editcustdash' }) %>





            <main>


                <div>

                    <main class="table">
                        <section class="table_header">
                            <h1>
                                <%= viewTitle %>
                            </h1>
                            <div class="search_orders">
                                <input type="search" placeholder="Search existing customers...">
                            </div>
                            <div class="add_product">
                                <a href="/addcustomers">
                                    <button class="btn add-product"><i class="fa fa-plus"></i> Add a customer</button>
                                </a>
                        </section>
                        <section class="table_body">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Customer ID <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>First Name <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Last Name <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Email <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Phone <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Edit <span class="icon-arrow">&UpArrow;</span></th>
                                        <th>Delete <span class="icon-arrow">&UpArrow;</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach(function(user) { %>
                                        <tr>
                                            <td>
                                                <%= user._id %>
                                            </td>
                                            <td>
                                                <%= user.firstname %>
                                            </td>
                                            <td>
                                                <%= user.lastname %>
                                            </td>
                                            <td>
                                                <%= user.email %>
                                            </td>
                                            <td>
                                                <%= user.phone %>
                                            </td>
                                            <td>
                                                <a href="/editcustdash/<%= user._id %>">
                                                    <button class="btn edit-customer"><i
                                                            class="fa fa-edit"></i></button>
                                                </a>
                                            </td>
                                            <td>
                                                <form method="POST"
                                                    action="/editcustdash/<%= user._id %>?_method=DELETE"
                                                    onsubmit="return confirm('Are you sure you want to delete this customer?');">
                                                    <input type="hidden" name="customerId" value="<%= user._id %>">
                                                    <button class="btn delete-customer" type="submit"><i
                                                            class="fa fa-trash"></i></button>
                                                    <div id="errmsgdel"></div>

                                                </form>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>

                        </section>
                    </main>
                </div>






                <script src="/js/editcustdash.js"></script>
                <script src="/js/dashsearch.js"></script>
                <script src="/js/ajax-delcust.js"></script>
                <script src="/js/validation.js"></script>

</body>

</html>