<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- material icons cdn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="/css/editcustdash.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Admin Dashboard</title>
</head>

<body>
    <div class="container">
        <%- include('../partials/dashboardsidebar', { currentPage: 'displayproducts' }) %>


        <main>
            <h1>Jewelry</h1>
            <div id="products-container">
                <div class="addcust" id="addcust">
                    <form class="form" action="/editproducts/<%= product.id %>" method="POST">
                        <div class="add">
                            <h2 class="add-title">You're updating: <%=product.name%></h2>
                        </div>
                        <div class="products-container" style="display: block;">
                            <div class="input-group">
                                <label for="id">Product ID</label>
                                <div>
                                    <input id="id" type="text" placeholder="Product id" name="id"
                                        value="<%= product.id %>">
                                </div>
                            </div>

                            <div class="input-group">
                                <label for="name">Product Name</label>
                                <div>
                                    <input id="name" type="text" placeholder="Product name" name="name"
                                        value="<%= product.name %>">
                                </div>
                            </div>

                            <div class="input-group">
                                <label class="add-photo-btn">Upload Image

                                    <input type="file" name="img" multiple required>

                                </label>
                            </div>
                            <br>
                            <div class="input-group">
                                <label for="price">Product Price</label>
                                <div>
                                    <input id="price" type="text" placeholder="Product price" name="price"
                                        value="<%= product.price %>">
                                </div>
                            </div>
 
                            <div class="input-group">
                                <label for="description">Product Description</label>
                                <div>
                                    <input id="description" type="text" placeholder="Product description"
                                        name="description" class="description" value="<%= product.description %>">
                                </div>
                            </div>

                            <div class="input-group">
                                <label for="category">Category</label>
                                <div>
                                    <input id="category" type="text" placeholder="Product category" name="category"
                                        value="<%= product.category %>">
                                </div>
                            </div>

                            <div class="input-group">
                                <label for="countInStock">Count in Stock</label>
                                <div>
                                    <input id="countInStock" type="text" placeholder="Count in stock"
                                        name="countInStock" value="<%= product.countInStock %>">
                                </div>
                            </div>

                            <button type="submit" id="update">Update</button>
                            <button id="cancel" href="/addproducts">Cancel</button>
                        </div>
                    </form>
                </div>

               

                <div id="update-msg">
                    <span>Product Updated Successfully.</span>
                </div>
                <div id="delete-msg">
                    <span>Product Deleted Successfully.</span>
                </div>

                <script src="/js/orders.js"></script>

            </div>
        </main>

    </div>

</body>

</html>