<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="/css/editcustdash.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/displayproducts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Employers</title>
</head>
<body>
    <div class="container">
        <%- include('../partials/dashboardsidebar', { currentPage: 'employersdash' }) %>
        <div class="content">
            <main class="table">
                <section class="table_header">
                  <h1>Employers</h1>
                  <div class="search_orders">
                    <input type="search" placeholder="Search existing employers...">
                  </div>
                  <div class="add_product">
                    <a href="/addemployers">
                      <button class="btn add-product"><i class="fa fa-plus"></i> Add Employer</button>
                    </a>
                  </div>
                </section>
                <section class="table_body">
                  <table>
                    <thead>
                      <tr>
                        <th>Employer ID <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Name <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Email <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Phone <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Is Admin <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Edit <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Delete <span class="icon-arrow">&UpArrow;</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% employers.forEach(function(employer) { %>
                      <tr>
                        <td><%= employer._id %></td>
                        <td><%= employer.name %></td>
                        <td><%= employer.email %></td>
                        <td><%= employer.phone %></td>
                        <td><%= employer.isAdmin ? 'Yes' : 'No' %></td>
                        <td>
                          <a href="/editemployers/<%= employer._id %>">
                            <button class="btn edit-employer"><i class="fa fa-edit"></i></button>
                          </a>
                        </td>
                        <td>
                          <form method="POST" action="/editemployers/<%= employer._id %>?_method=DELETE"
                            onsubmit="return confirm('Are you sure you want to delete this employer?');">
                            <!-- a hidden input field to store the employer ID -->
                            <input type="hidden" name="employerId" value="<%= employer._id %>">
                            <button class="btn delete-employer" type="submit"><i class="fa fa-trash"></i></button>
                          </form>
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </section>
              </main>
        </div>
    </div>
</body>
</html>
