<!DOCTYPE html>
<html>

<head>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>

<body>

    <%- include('../partials/navbar') %>

        <div class="sorting">
            <label for="">Sort by</label>
            <select name="sort" id="sort">
                <option value="">Highest price</option>
                <option value="">Lowest price</option>
                <option value="">New Arrivals</option>

            </select>

        </div>

        <section id="rings-intro">
            <h1 class="rings-intro-title">
                <%= productTitle %>

            </h1>
            <p class="snip">
                <%=body %>
            </p>
        </section>
        <section class="product-container">
            <% if(products !='' ) {%>
                <% products.forEach((items)=> {%>
                    <div class="box">
                        <a alt="" class="ri-heart-line" id="heart-icon-<%= items._id %>"
                            data-productid="<%= items._id %>">
                        </a>
                        <a href="/product/<%- items._id %>">
                            <img class="imgg" src="/Images/<%- items.image %>" alt="">
                        </a>
                        <div class="items">
                            <div class="prodetails">
                                <p>
                                    <%= items.name%>
                                </p>
                                <p class="price"> EGP
                                    <%= items.price%>
                                </p>
                            </div>
                            <form action="/cart/<%= items._id %>/<%= Id %>" method="post"><input type="submit"
                                    value="Add to cart" class="btn"></form>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>
        </section>
        <% if (user !=undefined) {%>
            <script src="/js/prod.js"></script>
            <% } %>
                <%- include('../partials/footer') -%>

</body>

</html>